body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* for static */
.static {
  height: 200px;
  width: 200px;
  background: grey;
  color: black;
}

/* for relative */
.relative {
  height: 200px;
  width: 200px;
  background: rgb(112, 88, 88);
  color: black;
  position: relative;
}

/* absolute + relative */
.container {
  margin: 100px auto;
  height: 400px;
  width: 400px;
  position: relative;
  background: gray;
}
.img {
  height: 400px;
  width: 400px;
}

.white-card {
  background: rgb(108, 214, 200);
  color: black;
  padding: 50px;
  position: absolute;
  top: 100px;
  right: -200px;
}

/* for fixed */

.nav {
  background: blue;
  width: 100%;
  height: 100px;
  position: fixed;
  /* margin-bottom: 100px; */
}

.body {
  width: 100%;
  height: 3000px;
  background: grey;
}
#spacer {
  /* margin-top: 100px; */
}
/* for sticky */

.parent {
  display: flex;
}

.side1 {
  width: 20%;
  background: red;
}

.side2 {
  width: 80%;
  background: grey;
  height: 3000px;
}

.stickyp {
  padding: 40px;
  background: white;
  position: sticky;
  /* bottom: 0px;
  margin: 0px; */
}
