/* max-width : itne width tak ye css lagega
min-width : css lagne keliye minm itna width hona chahiye 
@media screen and (max-width:700px) {
    
} */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
#244b5a
#a58c8a
#3d82a3
#87c1ce
#62686a */

.main {
  background: #244b5a;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  display: flex;
}

#div1 {
  background: #a58c8a;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
#div2 {
  background: #3d82a3;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 5%;
}
#div3 {
  background: #87c1ce;
  width: 30%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.content {
  text-align: center;
}

@media screen and (min-width: 1500px) {
  .main {
    background: #62686a;
  }
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
  .img {
    height: 150px;
    width: 150px;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  #div1 {
    width: 40%;
    margin: 0;
    margin-right: 5%;
  }
  #div2 {
    width: 40%;
    margin: 0;
  }
  #div3 {
    margin-top: 50px;
    width: 40%;
  }
}

@media screen and (max-width: 700px) {
  .container {
    flex-wrap: wrap;
    justify-content: center;
  }
  #div1 {
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
  }
  #div2 {
    width: 100%;
    margin: 0;
    margin-bottom: 50px;
  }
  #div3 {
    width: 100%;
    margin: 0;
  }
}
